{% for date, date_group in group_items_by_french_topics(items) -%}
    {%- if loop.first -%}
        <p>&mdash;&mdash;<br></p>
    {%- else -%}
        <p>&nbsp;</p>
    {%- endif -%}
    <h2>{{ date_group.name }}</h2><p>&nbsp;</p>
    {%- for group, items in date_group.groups.items() -%}
        {%- if items -%}
            <p><b>{{ group }}</b></p>
            {%- for item in items -%}
                <p><b>{{ item.title }}</b><br>
                {%- if item.coverage_types -%}
                    COUVERTURE: {{ item.coverage_types }}.<br>
                {%- endif -%}
                {%- if item.address.city -%}
                    {{ item.address.city }} - {{ item.local_time }}. {{ item.address.short }}.
                {%- else -%}
                    {{ item.local_time }}.
                {%- endif -%}
                {%- if item.description_short -%}
                    <br>{{ item.description_short }}
                {%- endif -%}
                </p>
                {%- if not loop.last -%}
                    <p>&mdash;</p>
                {%- endif -%}
            {%- endfor -%}
            <p>&mdash;&mdash;</p>
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}