{% for date, date_group in group_items_by_state(items) %}
<h2>{{ date_group.name }}</h2>
{% for group, items in date_group.groups.items() %}
{% if items %}
<p><b>{{ group }}</b></p>
{% for item in items %}
<p>{{ item.title }}<br>

{%- if item.address.name -%}
    {{ item.address.name }}<br>
 {%- endif -%}
 
 {%- if item.description -%}
    {{ item.description }}<br>
 {%- endif -%}
 
 {%- if item.formatted_time -%}
    {{ item.formatted_time }}<br>
 {%- endif -%}
 
 {%- if item.address.full -%}
    {{ item.address.full }}<br>
 {%- endif -%}
 
 {%- if item.coverage_types -%}
    {{ item.coverage_types }}<br>
 {%- endif -%}
</p>
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
