{% for key, group in group_items_by_state(items) %}
    {% if group._items %}
        <h2>{{ group.name.capitalize() }}</h2>
        {% for item in group._items %}
            <p>{{ item.title }}
            {% if item.locality %}
                <br>{{ item.locality.capitalize() }}
            {% endif %}
            <br>{{ item.local_date }}
            {% if item.description %}
                <br>{{ item.description }}
            {% endif %}
            {% if item.links %}
                {% for link in item.links %}
                    <br><a href="{{ link }}">{{ link }}</a>
                {% endfor %}
            {% endif %}
            {% if item.coverages %}
                <br>Coverage: {{ item.coverages | join(', ') }}
            {% endif %}
            </p>
        {% endfor %}
    {% endif %}
{% endfor %}
