{% for key, group in group_items_by_state(items).items() %}
    {% if group._items %}
        <h2>{{ group.name.capitalize() }}</h2>
        {% for item in group._items %}
            {% if item['location'] %}
                <p>{{ item['location'][0]['address']['locality'] }}
                <br>{{ item['name'] }}
            {% else %}
                <p>{{ item['name'] }}
            {% endif %}
            <br>{{ item.dates.start_local.strftime('%I:%M %P') }} - {{ item.dates.end_local.strftime('%I:%M %P') }} ({{ item.dates.tz_name }})
            {% if item.definition_long %}
                <br>{{ item['definition_long'] }}
            {% elif item.definition_short %}
                <br>{{ item['definition_short'] }}
            {% endif %}
            {% if item.links %}
                {% for link in item.links %}
                    <br><a href="{{ link }}">{{ link }}</a>
                {% endfor %}
            {% endif %}
            {% if item.coverages %}
                <br>Coverage: {{ item.coverages | join(', ') }}
            {% endif %}
            </p>
        {% endfor %}
    {% endif %}
{% endfor %}
