-r requirements.txt

pep8
pytest
flake8
nose
mypy<=1.12.0
httmock==1.4.0
wooper==0.4.4
requests_mock
black~=24.0

types-python-dateutil
types-pytz
types-requests<2.32.0.20240915  # https://github.com/python/typeshed/issues/10825
types-six
