gunicorn==19.7.1
honcho==1.0.1
newrelic>=2.66,<2.67
python3-saml>=1.9,<1.10
python-xmp-toolkit>=2.0.1,<2.1
num2words==0.5.10

-e git+git://github.com/superdesk/superdesk-core.git@v2.0.1#egg=superdesk-core
-e git+git://github.com/superdesk/superdesk-analytics.git@v2.0.0-rc1#egg=superdesk-analytics
-e git+git://github.com/superdesk/superdesk-planning.git@v2.0.0-rc1#egg=superdesk-planning
