gunicorn
honcho
python3-saml>=1.9,<1.17
python-xmp-toolkit>=2.0.1,<2.1
num2words==0.5.13

git+https://github.com/superdesk/superdesk-core.git@develop#egg=superdesk-core
git+https://github.com/superdesk/superdesk-planning.git@hotfix/2.6.3#egg=superdesk-planning
git+https://github.com/superdesk/superdesk-analytics.git@v2.6.0#egg=superdesk-analytics
