gunicorn==20.0.4
honcho==1.0.1
python3-saml>=1.9,<1.10
python-xmp-toolkit>=2.0.1,<2.1
num2words==0.5.10
elastic-apm[flask]>=5.9,<5.10

-e git+git://github.com/superdesk/superdesk-core.git@v2.3.6#egg=superdesk-core
superdesk-planning==2.3.1
superdesk-analytics==2.1.2
