honcho
hypercorn
celery-redbeat
python3-saml>=1.9,<1.17
python-xmp-toolkit>=2.0.1,<2.2
num2words==0.5.14
google-auth==2.56.2
google-cloud-translate==3.27.0
deepl==1.30.0
dotenv==0.9.9
pyexiftool==0.5.6

Superdesk-Core[exiv2] @ git+https://github.com/superdesk/superdesk-core.git@v3.1.7#egg=superdesk-core
git+https://github.com/superdesk/superdesk-planning.git@v3.1.5#egg=superdesk-planning
git+https://github.com/superdesk/superdesk-analytics.git@release/3.1#egg=superdesk-analytics
