gunicorn==20.0.4
honcho==1.0.1
python3-saml>=1.9,<1.10
python-xmp-toolkit>=2.0.1,<2.1
num2words==0.5.10

-e git+https://github.com/superdesk/superdesk-core.git@v2.4.1-rc1#egg=superdesk-core
git+https://github.com/superdesk/superdesk-planning.git@v2.4.0#egg=superdesk-planning
superdesk-analytics==2.1.2
