name: "CI"

on:
  [push, pull_request]

jobs:

  server:

    runs-on: ubuntu-22.04
 
    defaults:
      run:
        working-directory: server

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - run: |
        sudo apt-get update
        sudo apt-get -y install libxml2-dev libxmlsec1-dev libxmlsec1-openssl libexempi-dev

    - run: docker-compose -f ../.travis-docker-compose.yml up -d

    - run: |
        python -m pip install --upgrade pip wheel setuptools
        pip install -r dev-requirements.txt

    - run: flake8

    - run: mypy .

    - run: black --check .

    - run: pytest tests

    - run: python manage.py app:initialize_data


  client:

    runs-on: ubuntu-22.04

    defaults:
      run:
        working-directory: client

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: '14.x'

    - run: npm ci

    - run: npm run build
